<h2 class="header">Listing posts</h2>

<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>

	<% @posts.each do |post| %>
	<tr>
		<td><%= post.title %></td>
		<td><%= post.text %></td>
		<td><%= link_to 'Show', post %></td>
		<td><%= link_to 'Edit', edit_post_path(post) %></td>
		<td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<!-- TD Follow-up
		I want to learn more about the HTML5 behind the method and 'data-confirm' attributes here. Read more about application.html.erb and jquery_ujs -->
	</tr>
	<% end %>
</table>

<p>
	<%= link_to 'New Post', new_post_path, class: "btn" %>
</p>