<div class="header">
	<h2><%= @post.title %></h2>
</div>

<p>
	<h3><%= @post.text %></h3>
</p>

<h5>Comments</h5>

<!-- Note that render method iterates over the @post.comments collection and assigns each comment to a local variable named the same as the partial (ie comment) which is available in the partial for us to show-->
<%= render @post.comments %>

<h6>Add a comment:</h6>
<%= render 'comments/form' %>

<%= link_to 'Back', posts_path %>
	<%= link_to 'Edit', edit_post_path(@post) %>
